
body{
margin:0;
padding:0;
line-height: 1.5em;
background: #ECECEC url("../design/bg4.gif") 0 0 repeat-x;
}

b{font-size: 110%;}
em{color: red;}


#topsection2{
    background: #0f0;
    width: 100%;
    background: #666699 none no-repeat 0 0;
    color: #FFF;
    height: 95px; /*Height of top section*/
}

#topsection2 h1{
margin: 0;
padding-top: 15px;
}

#headersection {
    background: #0f0;
    width: 100%;
    background: url('../imgs/top_banner2.png') repeat 0 0;
    color: #FFF;
    height: 300px; /*Height of top section*/
}
#headersection_small {
    background: #0f0;
    width: 100%;
    background: url('../imgs/top_banner2.png') repeat 0 0;
    color: #FFF;
    height: 100px; /*Height of top section*/
}

#topsection{
     background: #0f0;
    width: 100%;
    background: #666699 none no-repeat 0 0;
    color: #FFF;
height: 90px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 10px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn {
    border-width: thick;
    border-color: #000080;
    margin-left: 280px;
    border-left-style: groove;
}

#leftcolumn {
    float: left;
    width: 280px; /*Width of left column*/
    margin-left: -100%;
    background: #a0b1c5 none no-repeat 0 0;
     overflow: scroll;
    }

#footer {
    clear: left;
    width: 100%;
    background: #000080;
    color: #FFF;
    text-align: center;
    padding: 3px 0;
}

#footer a {
    color: #FFFF80;
    background-color: #000000;
}

.innertube{
margin: 2px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

 
  html, body, #map-canvas {
        height: 95%;
        margin: 0px;
        padding: 0px;
        width:auto;
      }
    
        
        .master_right
{
    float: right;
    width: 10%;
       }

         .master_left
{
    float: left;
    width: 50%;
   }

         .target {
    border-width: medium;
    margin: 2px;
    margin-top: 0;
    border-bottom-style: groove;
    text-align: center;
}

     .target2 {
    border-width: medium;
    margin: 2px;
    margin-top: 0;
    border-bottom-style: groove;
    text-align: Left;
}

  .Gridv {
    /*Margins for inner DIV inside each column (to provide padding)*/
    border-style: inset groove groove inset;
    border-width: thick;
    margin-top: 0;
    bottom: 3%;
    border-color: #000080;
     margin: 0px;
   
    }

  .LeftDiv {
     height: 95%;
      background: #a0b1c5 none no-repeat 0 0;
             }

  .ListV {
       height: 95%;
          overflow: scroll;
          }


    .Tv {
    border-color: #000080;
    border-style: inset groove groove inset;
    border-width: thick;
    margin-top: 0;
    text-align: Left;
    background-color: #E6E6F2;
}

     .dani {
    border-color: #000080;
    border-style: inset groove groove inset;
    border-width: thick;
    float:left;
    width:30%;
}
    

      .Initial {
    display: block;
    padding: 4px 15px 4px 15px;
    float: left;
    background: url('../imgs/InitialImage.png') no-repeat right top;
    color: Black;
    font-weight: bold;
}
  .Initial:hover {
    color: White;
    background: url('../imgs/InitialImage.png') no-repeat right top;
}
  .Clicked {
    float: left;
    display: block;
    background: url('../imgs/SelectedButton.png') no-repeat right top;
    padding: 4px 15px 4px 15px;
    color: Black;
    font-weight: bold;
    color: White;
}

.Lstview {
    border:double;
}


 .tabtext {
    text-align: center;
}


 .leftMarg {
    margin-top: 2px;
    text-align: Left;
    float: left;
    width:20%;
    border:double;
    margin-left: 3px;
  }

 .rightMarg {
    margin-top: 1px;
    text-align: Left;
    float: left;
    width: 74%;
    left: 20.1%;
    margin-left: 5px;
}

 .Texts {
    text-align: center;
    font-style: normal;
    font-size: x-small;
    height: 100%;
    width:99.8%;
}

.Texts2 {
       height: 100%;
      }
